.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 6.2rem 0 6.2rem;
    @include tablet-only {
        margin: 2rem 3rem 0rem 3rem;
    }
    @include mobile-only {
        margin: 1.3rem;
        }
}

.header__logo {
    width: 13rem;

    @include tablet-only {
        width: 70%;
        max-width: 10rem;
    }
}
