.banner {
    height: 360px;


    img{
        border-radius: 25px 25px 25px 25px;
        height: 22rem;    
        filter: brightness(80%);
    }

    p {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 64px;
        color: #FFFFFF;
    }
}

.bannerHomePage {
    position: absolute;
}