.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.7rem;
    img {
        width: 100%;
        margin-top: 3.6rem;
        border-radius: 1.5rem;
        filter: brightness(70%);
    }

    p {
        position: absolute;
        font-weight: 500;
        font-size: 3em;
        color: #FFFFFF;
        margin-top: 3.6rem
    }
}
