.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    background-color: black;
    margin-top: 6rem;
    margin-left: 0rem;
    margin-right: 0rem;

    .footer__logo {
        width: 190px;
        height: 62px;
    }

    p {
        color: white;
        font-size: 26px;
    }

}