.navigation ul {
    padding-top: 25px;
    display: flex;
    column-gap: 10px;
    font-size: 36px;
    font-weight: 500;
    width: 440px;

    li {
        width: 200px;
        text-align: right;
        padding-left: 15px;
    }
}

.nav-active {
    text-decoration: underline $primaryColor;
}