.slider {
    position: relative;
    width: 100%;
    height: 25.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet-only {
        height: 17rem;
        @media (orientation: portrait) {
             height: 20rem;   
        }
    }
    @include mobile-only {
        height: 16rem;   
       }

    .slider__slide {
        width: 100%;
        height: 100%;
        object-fit: cover ;
        border-radius: 2rem;
    }
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    width: 8rem;
    height: 5rem;
    @include tablet-only { 
        width: 4rem;
        height: 2rem;
    }
    @include mobile-only {
        width: 1.3rem;
        height: 1.3rem;
       }
}

.previous {
    rotate: 180deg;
    left: 0;
    top: 38%;
}

.next {
    right: 0;
    top: 38%;
}

.slider__counter {
    position: absolute;
    bottom: 1.8rem;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    @include tablet-only {
        opacity: 0;   
       }
}