@mixin marginPage {
    margin-top: 3.6rem;
    margin-left: 6.2rem;
    margin-right: 6.2rem;
    @include tablet-only{
        margin: 2rem 3rem 0rem 3rem;
    }
}

@mixin buttonToggle {
    width: 3.1rem;
    height: 1.8rem;
    margin-right: 1rem;
    @include tablet-only { 
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0;
    }
    @include mobile-only {
        width: 1rem;
        height: 1rem;
        margin-right: 0;
    }
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;        
    }
}


