@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

$primaryColor: #FF6060;
$secondaryColor: #f6f6f6;
$fontFamily: 'Montserrat', 'Arial';


$breakpoints: (
    tablet: 768px,
    desktop: 992px,
);