$primaryColor: #FF6060;
$secondaryColor: #f6f6f6;
$fontFamily: 'Montserrat', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 2240px;
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fontFamily;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: $primaryColor;
}