*{
    box-sizing: border-box;
    margin: 0;
    font-family: $fontFamily;
    border: solid 1px red;
}

body {
    max-width: 1600px;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: $primaryColor;
}